.DS_Store
30isdead/Week2/Baemin/Baemin.xcodeproj/project.xcworkspace/xcuserdata/seyoung.xcuserdatad/UserInterfaceState.xcuserstate
30isdead/Week2/Section.4/Section.4.xcodeproj/project.xcworkspace/xcuserdata/seyoung.xcuserdatad/UserInterfaceState.xcuserstate
30isdead/Week3/Section5-20/Section5-20.xcodeproj/project.xcworkspace/xcuserdata/seyoung.xcuserdatad/UserInterfaceState.xcuserstate
30isdead/Week3/Section5/Section5.xcodeproj/project.xcworkspace/xcuserdata/seyoung.xcuserdatad/UserInterfaceState.xcuserstate